<!-- Row: System Feed Card -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline logs-card">
      <div class="card-header">
        <h3 class="card-title mb-0"><span class="log-icon">📡</span> System Feed</h3>
      </div>
      <div class="card-body" style="max-height: 300px; overflow-y: auto;">
        <!-- For visual design, we can inject canned HTML log entries here -->
        <div>
          <span style="color:blue;">🚀 Launch Pad - Started</span><br>
          Source: System Start-up - <b>3-1-25 : 5:46:21 AM</b>
        </div>
        <br>
        <div>
          <span style="color:green;">🔄 Jupiter Positions Updated</span><br>
          Source: Monitor - <b>3-1-25 : 5:47:34 AM</b>
        </div>
        <br>
        <div>
          <span style="color:red;">🚨 Alert Triggered: Overload detected</span><br>
          Source: Auto-Monitor - <b>3-1-25 : 5:55:44 AM</b>
        </div>
        <!-- More canned entries for design -->
      </div>
    </div>
  </div>
</div>
