# add_state_column.py
import sqlite3
from config.config_constants import DB_PATH

def add_state_column(db_path=DB_PATH):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    try:
        cursor.execute("ALTER TABLE alerts ADD COLUMN state TEXT DEFAULT 'Normal'")
        conn.commit()
        print("Column 'state' added successfully.")
    except sqlite3.OperationalError as e:
        if "duplicate column name: state" in str(e):
            print("Column 'state' already exists.")
            print("")
        else:
            print("Error adding column:", e)
            print("")
    finally:
        conn.close()

if __name__ == '__main__':
    add_state_column()
